* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 24px;
  height: 90vh;
  width: 90vw;
}

.one {
  background-color: aqua;
  grid-row: 1 / 4;
  grid-column: 1 / 5;
}

.two {
  background-color: aqua;
  grid-row: 4 / 7;
  grid-column: 1 / 5;
}

.three {
  background-color: aqua;
  grid-row: 1 / 7;
  grid-column: 5 / 9;
}

.four {
  background-color: aqua;
  grid-row: 1 / 3;
  grid-column: 9 / 13;
}

.five {
  background-color: aqua;
  grid-row: 3 / 5;
  grid-column: 9 /13;
}

.six {
  background-color: aqua;
  grid-row: 5 / 7;
  grid-column: 9 / 13;
}

.seven {
  background-color: aqua;
  grid-row: 7 / 11;
  grid-column: 1 / 5;
}

.eight {
  background-color: aqua;
  grid-row: 7 / 9;
  grid-column: 5 / 7;
}

.nine {
  background-color: aqua;
  grid-row: 9 /11;
  grid-column: 5 / 7;
}

.ten {
  background-color: aqua;
  grid-row: 7 / 11;
  grid-column: 7 / 11;
}

.eleven {
  background-color: aqua;
  grid-row: 7 / 11;
  grid-column: 11 / 13;
}
