* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 24px;
  height: 90vh;
  width: 90vw;
}

/* Individual grid item placement and styling*/

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.one {
  background-color: #e6f0ff;
  grid-area: 1 / 1 / 4 / 5;
}

.two {
  background-color: #b8d4ff;
  grid-area: 4 / 1 / 7 / 5;
}

.three {
  background-color: #8ab9ff;
  grid-area: 1 / 5 / 7 / 9;
}

.four {
  background-color: #5c9dff;
  grid-area: 1 / 9 / 3 / 13;
}

.five {
  background-color: #2b7fff;
  grid-area: 3 / 9 / 5 / 13;
}

.six {
  background-color: #0066ff;
  grid-area: 5 / 9 / 7 / 13;
}

.seven {
  background-color: #0054d1;
  grid-area: 7 / 1 / 11 / 5;
}

.eight {
  background-color: #0041a3;
  grid-area: 7 / 5 / 9 / 7;
}

.nine {
  background-color: #002f75;
  grid-area: 9 / 5 / 11 / 7;
}

.ten {
  background-color: #001d47;
  grid-area: 7 / 7 / 11 / 11;
}

.eleven {
  background-color: #000a1a;
  grid-area: 7 / 11 /11 / 13;
}

.white-text {
  color: #fff;
}

h1 {
  font-size: 72px;
  margin-left: 65px;
  text-transform: uppercase;
}

.colour-palette-text {
  background-color: #5c9dff;
  padding: 20px;
}
