* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 24px;
  height: 90vh;
  width: 90vw;
}

/* Individual grid item placement and styling*/

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.one {
  background-color: #e6f0ff;
  grid-row: 1 / 4;
  grid-column: 1 / 5;
}

.two {
  background-color: #b8d4ff;
  grid-row: 4 / 7;
  grid-column: 1 / 5;
}

.three {
  background-color: #8ab9ff;
  grid-row: 1 / 7;
  grid-column: 5 / 9;
}

.four {
  background-color: #5c9dff;
  grid-row: 1 / 3;
  grid-column: 9 / 13;
}

.five {
  background-color: #2b7fff;
  grid-row: 3 / 5;
  grid-column: 9 /13;
}

.six {
  background-color: #0066ff;
  grid-row: 5 / 7;
  grid-column: 9 / 13;
}

.seven {
  background-color: #0054d1;
  grid-row: 7 / 11;
  grid-column: 1 / 5;
}

.eight {
  background-color: #0041a3;
  grid-row: 7 / 9;
  grid-column: 5 / 7;
}

.nine {
  background-color: #002f75;
  grid-row: 9 /11;
  grid-column: 5 / 7;
}

.ten {
  background-color: #001d47;
  grid-row: 7 / 11;
  grid-column: 7 / 11;
}

.eleven {
  background-color: #000a1a;
  grid-row: 7 / 11;
  grid-column: 11 / 13;
}

.white-text {
  color: #fff;
}
